#Task 1: Define the Problem

In [1]:
# In this notebook we are going to analyze the sales and predict views based advertising.

#Task 2a: Install the Needed Libraries

In [2]:
# No installations needed!

#Task 2b: Import the Needed Libraries

In [3]:
import pandas as pd
import numpy as np
# Use seaborn for more flexibililty as matplotlib only gives a white background for plots
# Can customize matplotlib but more complex then seaborn 
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

#Task 3: Load the Data

In [4]:
# Data comes from the LGCC repository 
adv_df = pd.read_csv('https://raw.githubusercontent.com/niteen11/data301_predictive_analytics_machine_learning/main/data/advertising_sales_prediction.csv')

#Task 4: Perform Data Exploratory Analysis (EDA)

##Show the data

In [5]:
# Bring first 5 rows of df
adv_df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

##Get Data Info

In [6]:
# Two ways to get info
# This is not calling a method or a function
# Function use to do stuff to the dataset
# This is called an attribute
adv_df.info

<bound method DataFrame.info of      Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]>

In [7]:
# This way is calling a function/method
# Method has brackets ()
# method that provides details about the DataFrame, such as the column names, data types, number of non-null values, and memory usage.
adv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [8]:
# returns a tuple representing the number of rows and columns in the df
# Shapre implies what is the shape of this matrix
# A matrix has two coordinates X and Y
# X is the rows, Y is the columns 
# 200 rows, 5 columns
adv_df.shape

(200, 5)

In [9]:
# attributes that returns an index objext representing the column labels or names
adv_df.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [10]:
adv_df.head(10)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [11]:
# drop the column Unnamed:0
adv_df = adv_df.drop(columns=['Unnamed: 0'])

In [12]:
adv_df.head(10)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9
5    8.7   48.9       75.0    7.2
6   57.5   32.8       23.5   11.8
7  120.2   19.6       11.6   13.2
8    8.6    2.1        1.0    4.8
9  199.8    2.6       21.2   10.6

##Find Missing Values

In [13]:
# checks if there are any missing or null values in the entire DataFrame
# adv_df.isnull(): This generates a DataFrame of the same shape as df, where each cell contains a boolean value indicating whether the corresponding cell in df is null (True) or not null (False).
# .values: Converts this DataFrame into a NumPy array.
# .any(): This method is used on the NumPy array to check if any of the values within the array are True.
# returns True if there's at least one null value anywhere in the DataFrame df, and False if there are no null values.
adv_df.isnull().values.any()

False

#Task 5: Perform Data Cleaning

In [14]:
# No cleaning needed

#Task 6: Visualize Cleaned up Dataset

In [15]:
# Not needed

#Task 7: Conceptualize the problem

In [16]:
# When you begin a problem you will not know if you have to classify or predict
# Might need a combination of both
# This happens after you clean the data and you know how it looks
# This is when you say using my data i am going to predict or classify

#Task 8: Perform Data-Split

In [17]:
# Trying to find the slope of a line
# For us to find the equation of the line you need the Y the X and the intercept
# Finding a predictor
# Is this small problem is to tell the algorithm what we mean by X and what we mean by Y
# Now find us the slope
# Our X from our our dataset is:
X = adv_df[['TV', 'Radio', 'Newspaper']]

In [18]:
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [19]:
y = adv_df['Sales']

In [20]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

In [21]:
# EDA on the new vectors or matrixes 
X.shape

(200, 3)

In [22]:
y.shape

(200,)

In [23]:
# Scikit-learn
# used to import the train_test_split function from the model_selection module of Scikit-learn
# This function train_test_split is frequently used to split datasets into random train and test subsets. It's a critical step in machine learning pipelines, enabling practitioners to create separate sets for training and evaluating models. This helps in assessing the model's performance on unseen data.
"""
Training or fitting a ML mean the same thing
The name of the method is calling fitting fit()
When we want to train a ML model
"""
# This library does the splitting
from sklearn.model_selection import train_test_split

In [24]:
# splitting the dataset intro train and test sets
# X: Represents the features or input data.
# y: Represents the target variable or output data corresponding to the features.
# When calling train_test_split(X, y), the function randomly splits the X and y datasets into training and testing sets. 
# However, the proportions for the split (e.g., the sizes of the training and testing sets) aren't explicitly specified in this case. 
# By default, train_test_split will divide the data into 75% training and 25% testing sets.
"""
The function returns four subsets:

x_train: Contains the training features.
x_test: Contains the test features.
y_train: Contains the target variable for the training data.
y_test: Contains the target variable for the test data.

These subsets can be used for training a machine learning model 
on the training data (x_train and y_train) and evaluating its
performance on the test data (x_test and y_test).
If you need to specify the ratio for the split or set a random 
state for reproducibility, you can use additional parameters
like test_size or random_state within the train_test_split function.
"""
# More often than not this is how you are going to split the data
# In this case it is simple because we already have the X and Y
# but that will not be the case all the time
# Splits data into 4 quadrants
# Then the machine learning algorithm can do what we want it to do 
x_train, x_test, y_train, y_test = train_test_split(X,y)

In [25]:
# Shape of the results of the splitting
# Didnt tell the split method to be split a certain way, it did automatically
# Later on we are going to tell the split method how we want to split it
# i.e., 20% testing 80% training
# Differentatiing between 2 of the major of ML overfitting and underfitting
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(150, 3)
(50, 3)
(150,)
(50,)

#Task 9: Choose the ML Method to follow

In [26]:
# Bring the ML we want to do from sklearn library
# Use scikit-learn.org as reference for the different type of models
from sklearn.linear_model import LinearRegression

In [27]:
# We import the class now we need to create a new variable and assign to the libary
# We brought in so now we can use it 
linReg = LinearRegression()

#Task 10: Train the ML Model

In [28]:
# To train a ML algorithm simple call the algorthm(the variable we created) and fit it
# Fit it with the training data 
linReg.fit(x_train, y_train)

LinearRegression()

In [29]:
# In this case the algorithm simply found the slope
# Print out the intercept
# Y = a + Bx
print(linReg.intercept_)

2.704627669655867

#Task 11: Test the Model

###Making predictions

In [30]:
# In order to predcit with need to use our algorthm and ask her what can you tell me
# with a specific set of data which in this case is the x_test data
y_pred = linReg.predict(x_test)

In [31]:
# To see the values it came up with given the data
# What does this mean?
y_pred

array([ 8.22717479,  4.37645181, 16.86615799, 19.95917797,  9.7866052 ,
       13.50982628, 22.02426796, 10.49126374, 13.30098375, 23.87210281,
        5.07495619, 15.65647518,  7.24198526,  7.62910362, 10.15845897,
       11.88018012, 20.99867484, 16.32721743, 16.22808663, 12.51076633,
        5.6265922 ,  7.84871453, 16.32733891,  4.34785678, 12.64061692,
       16.74974214, 18.15106234, 23.21613492,  6.44447351,  9.58921734,
        8.82232275, 11.83416021, 13.92666341, 20.95146723, 10.57790391,
        8.72413487,  9.85929133, 12.64080643, 14.37019083, 12.34268762,
        9.14597244, 17.9314495 , 13.56088126, 15.34855278, 17.14185817,
       20.12139321, 16.99443969, 21.66802339, 19.8830076 , 19.33346562])

In [32]:
adv_df.head()
# if we look a row #2 this are the values that we were training
# the algorithm took the line (except sales)
# and found patterns that we used to determine the sales value

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [ ]:
# Only concern about the accuracy of the model